.ContactSection{
    padding: 40px;
}
.ContactSection-wrapper{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
.ContactSection-left{
    width: 50%;
    float: left;
    min-height: 1px;
    padding: 0 10px;
    position: relative; 
}
.ContactSection-right{
    width: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: "Raleway";
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0px;
    color: #565656;
}
/* @media screen and {
    ddddddddddddddf
} */