.navbar {
  background-image: url("https://www.shutterstock.com/shutterstock/photos/1479239243/display_1500/stock-photo-cat-and-dog-sleeping-together-kitten-and-puppy-taking-nap-home-pets-animal-care-love-and-1479239243.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh; 
  width: 70%;
  margin: 50px 15%;
  border-radius: 20px;
  position: relative;
  animation: fadeIn 1s; 
}

.navbar-text {
  z-index: 1; 
  max-width: 600px;
  padding: 25px 15px; 
  animation: fadeIn 3s; 
}

h2 {
  font-size:3rem;
  font-weight: 500;
  margin-bottom: 1rem; 
}

p {
  font-size: 1.2rem; 
  margin: 0.5rem 0; 
  color: rgb(110, 103, 103);
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
